<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Página ppal</h1>
      <h3>Peliculas de mi sitio</h3>
      <nav>
        <a href="">Actores</a>
        <!-- TODO: crear ruta, ruteador, controlador, modelo y vista para mostar la lista de todos los actores de la tabla actors -->
      </nav>
      <ul>
        <% for(let i=0; i<movies.length;i++){ %>
            <% if(movies[i].genre !== null) {%> 
          <li><%= movies[i].title%>. Género: <a href="/generos/<%= movies[i].genre.id%>/peliculas/"> <%= movies[i].genre.name%></a></li>
          <% } else {%>
            <li>
              <%= movies[i].title%>. Género: sin género
            </li>
          <% } %>
        <% } %>


      </ul>

      <p>Welcome to mi página de productos</p>
      
      <hr>
      <h4>Lista de Productos</h4>
      <% for(let i=0; i<productos.length;i++){ %>
        <article>
          <p>nombre: <%= productos[i].nombre %>
          </p>
          <p>precio: <%= productos[i].percio %>
          </p>
          <% if (productos[i].enStock){ %>
            <p>Hay stock</p>
            <% } else { %>
              <p>No hay stock</p>
              <% } %>
                <a href="/productos/unProducto/<%= i %> ">Ver más</a>
        </article>
        <% } %>
  </body>
</html>
